.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
  flex: 1;
  flex-direction: column;
}

.App-logo {
  height: 100px;
  flex: 1;
}

.App-content {
  flex: 20;
  display: flex;
}
